@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-color: #F0F0F0;
}

.main_div{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub_div{
	width: 27%;
}

div h3{
	font-family: 'Lobster', cursive;
}

a{
	text-decoration: none;
	cursor: pointer;
}

@media (max-width: 800px){
	.sub_div{
		width: auto;
	}
}